/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css'); */


/* @font-face {
    font-family: 'Antonio';
    font-weight: 400;
    src: url('Antonio-Regular.woff2') format('woff2'), url('Antonio-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Antonio';
    font-weight: 700;
    src: url('Antonio-Bold.woff2') format('woff2'), url('Antonio-Bold.woff') format('woff')
}
*/



.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 1.5rem;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.nav-bar .icon-nav {
    color: white;
}

.list-nav-bar {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    gap: 20px;
}

.list-item a {
    cursor: pointer;
    font-size: 1.25rem;
    text-decoration: none;
    color: #fff;
    text-align: center;
    margin-left: 0.5rem;
    letter-spacing: 0.1rem;
}

.list-item a:hover {
    color: #a0a0a0;
}

.select-theme {
    border-radius: 5px;
}



body {
    background: #111;
    color:  #f00;
    font-family: Consolas, Courier, monospace;
    font-size: 20px;
    text-shadow: 0 0 15px #411;
    height: 100%;

    width: 100%;
    height: 100%;
    margin: 0;

    align-items: center;
    justify-content: center;
    background-color: rgb(36, 36, 36);
}

span {
    font-family: Consolas, Courier, monospace;
    font-weight: bold;
}


.unlit {
    color: #411;
}

.glow {
    color: #f00;
    text-shadow: 0px 0px 10px #f00;
}

#qr-svg path {
    stroke-dasharray: 500;
    stroke-dashoffset: 5;
}

.text-center {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0 auto;
}

label {
    display: flex;
    justify-content: space-between;
    width: 270px;
}
  
input {
    flex-basis: 100%;
    margin: 10px 0;
    background-color: rgb(35, 38, 40);
    color: #089a9a;
    border-radius: 5px;
}

progress {
    padding: 4px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

progress::-webkit-progress-value {
    background: #f00;
}
  

h2 {
    font-family: 'Source Code Pro', Inconsolata, Monaco, Consolas, 'Courier New', Courier, sans-serif;
    font-size: 2.5em;
    color: #1e1d1a;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #C44545, 2px 2px 1px #ED5353;
}
 

.listArea {
    padding-top: 5px;
}
 

section#counter-stats {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.stats {
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
  
.stats .fa {
    color: #089a9a;
    font-size: 60px;
}

footer {
    padding: 15px 5px 5px 5px;
    text-align: center;
    border-top: 2px solid black;
    margin-top: 35px;
}


 